
  <div class="container">
    <div class="row">
      <div class="col-md-6 centmar">
        <h2>Inicia sesión</h2>
        <form action="/auth/login" id="form-container">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          {{#if message }}
            <div class="error-message">{{ message }}</div>
          {{/if}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block">Inicia sesión</button>
        </div>
        
        <div class="form-group">
          <p class="account-message"> ¿Aun no tienes una cuenta? <a href="./signup.hbs" class="badge badge-dark">Regístrate</a> </p>
        </div>
        
        <div class="form-group">
          <a href="#" class="badge badge-dark">¿Olvidaste tu contraseña?</a>
        </div>

        </form>
      </div>
    </div>
  </div>

